@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body{
  background-color: #EEEDF3;
  height: 80vh;
}

.flex{
  display: flex;
}

.justify-center{
  justify-content: center;
}

.align-center{
  align-items: center;
}

.justify-between{
  justify-content: space-between;
}

.startup{
  background-color: #fff;
  width: 80%;
  padding: 20px;
  border-radius: 8px;
}

.row{
  padding: 40px 10px;
  border-bottom: 1px solid gainsboro;
}

.margin-left{
  margin-left: 10px;
  font-weight: bold;
}

.fintech{
  background-color: #FED5E3;
}

.grey{
  background-color: lightgray;
}

.payment{
  background-color: #EBE7FF;
}

.category{
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
}

.rating{
  font-weight: bold;
  color: #4DC8AE;
}

.arrow{
  margin-right: 20px;
}

#plus{
  align-self: flex-end;
  background-color: #552CF6;
  border-radius: 1rem;
  padding: 10px;
  border: none;
  width: 60px;
}

.gap{
  gap: 1rem;
}

.input{
  padding: 10px;
  background-color: #EEEDF3;
  border: none;
  border-radius: 5px;
}
.input-container {
  margin-top: 20px;
}

.column{
  flex-direction: column;
}

.flex-1{
  flex: 1;
}

.flex-2{
  flex: 2;
}

.btn{
  padding: 10px 30px;
  color: #552CF6;
  background-color: #EBE7FF;
  border: none;
  border-radius: 10px;
  font-weight: bold;
}

.btn:hover{
  background-color: #552CF6;
  color: #EBE7FF;
}

.buttons{
  margin-top: 50px;
}

.flex-end{
  justify-content: flex-end;
}

.label{
  font-weight: bold ;
  margin-bottom: 10px;
}
